@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;300;400;500;600;700&family=Roboto:wght@100;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Roboto",sans-serif;
    }
    /*-----------------------------------------Navbar-----------------------------------------------*/
#nav-bar{
    position:sticky;
    top: 0;
    z-index: 10;

}
.navbar{
    background-image: linear-gradient(to right,#1d1f21,#3a3aaa);
    padding: 0;
    
}
.navbar-brand{
     font-family: "Exo",sans-serif;
    font-weight: 700;
    color: #fafafa!important;
    padding-left: 5px;
    
}
.navbar-brand i{
font-size: 40px;
padding-left: 20px;
color: #fafafa;
}

.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a{
    font-family: "Exo",sans-serif;
    font-weight: 700;
    color: #fafafa!important;
    float: right;
    text-align: center;
}

.fa-bars{
    color: #fff;
    font-size: 30px!important;

}
.navbar-toggler{
    outline: none!important;
}

    /*-----------------------------------------Banner-----------------------------------------------*/
#banner{
    background-image:  linear-gradient(to right,#1d1f21,#3a3aaa);
    color:#fff;
    padding-top: 5%;
    text-align: center;
}
#reason{
    background-image: linear-gradient(to right,#1d1f21,#3a3aaa);
    padding-top: 20px; 
}
h2{color: #fafafa;
font-family: "Roboto",sans-serif;
text-align: center;}

.w-100{
     height: 500px;
     }

.carousel-item::after{
    content: "";
    width: 100%;
    height: 500px;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;

}
.carousel-item{
    position: relative;
    
}
.carousel-item >*{z-index: 10;

}
    
h5{
    font-family: "Roboto",sans-serif;
    font-size: 50px;
}     

.bottom-img{
    width: 100%;}
/*------------------------------------------------------textimonials------------------------*/
.title{
    color: #2d6096;
    font-family: "Exo",sans-serif;
    font-weight: 700;

}
.title::before{
    content: '';
    background: #1c4979;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: #1c4979;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(18px);
}
.testimonial{
    border-left: 4px solid #1c4979;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonial img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user-detail{
    display: inline-block;
    font-size: 12px;
}
/*-------------------------------------------Social media---------------------------------*/
#social-media{
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons i{
    padding: 0 30px;}
.social-icons a i{
    height: 60px;
    width:60px;
    transition: 0.5s;
    font-size: 25px;
    padding: 12px 5px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: #fafafa;
    background: #1c4979;
    
}
.social-icons a:hover i{
    transform: translateY(-20px);
}
/*-----------------------------footer---------------------*/
#footer{
    background-image: linear-gradient(to right,#1d1f21,#3a3aaa); 
    color: #fff;
    margin: 0;
}
.footer-img{
    width: 100%;

}
.footer-box{
    padding: 20px;
    position: left;
    margin: 0;
}
.footer-logo{
    font-family: "Exo",sans-serif;
    font-weight: 700;
    color: #fafafa!important;
    padding-left: 5px;
    margin-left: 20px,
}



.footer-box p{
    text-align: left;
    margin-left: 20px;
}
.fa-wpexplorer{
    content: "\f2de";
    font-size: 20px;
}

.contact p {
    padding:0;
    margin: 0 auto;


}
h6{
font-size:20px;
}

/*----------------------------------------gallery--------------------------*/ 


.container1{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
img {
    vertical-align: middle;
    border-style: none;
    height: 300px;
    width: 400px;
    
    
}
.container1 .image{
    margin: 1px;
}
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:500px;
    display:block;
    z-index:999;
    transform: scale(1.5);
}

/*-------------------------------------------signup form---------------------------------*/

#signup{
    
    padding: 10%;
    font-family: sans-serif;
    background-image:  linear-gradient(to right,#1d1f21,#3a3aaa);
    padding-bottom: 20%;
}



.sign-up-form{
    width: 300px;
    height: auto;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    margin: 8% auto;
    text-align: center;

}
.or{
    color: #1d1f21;
}
.sign-up-form h3{
    color: rgb(85, 85, 185);
    margin-bottom: 30px;
}


.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
    
}
button{
    font-size: 15px;
    margin: 10px 0;
    outline: none;
    border: none;
    cursor: pointer;}
.signup-btn{
    border-radius: 20px;
}